$lightblue: #2e97bf;
$darkgrey: #212121;
$grey: #808080;

$fa-font-path: '/typo3_base_ext/Resources/Public/Font';
$slick-font-path: '/typo3_base_ext/Resources/Public/Font/';
$slick-dot-color: #fff;
$slick-loader-path: '/typo3_base_ext/Resources/Public/Img/slick/';
