$lightblue: #2e97bf;
$lightgrey: #333;
$grey: #808080;
$darkgrey: #212121;

$fa-font-path: '/imhh_t3base/Resources/Public/Font';
$slick-font-path: '/imhh_t3base/Resources/Public/Font/';
$slick-dot-color: #fff;
$slick-loader-path: '/imhh_t3base/Resources/Public/Img/slick/';
