<f:layout name="Default" />

<f:section name="content">
    <main class="page-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <f:format.raw>{content2}</f:format.raw>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <f:format.raw>{breadcrumb}</f:format.raw>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 main-content">
                    <!--TYPO3SEARCH_begin-->
                    <f:format.raw>{content0}</f:format.raw>
                    <!--TYPO3SEARCH_end-->
                </div>
                <aside class="col-sm-4">
                    <f:format.raw>{content1}</f:format.raw>
                </aside>
            </div>
        </div>
    </main>
</f:section>
